body{
    font-family: 'Outfit', sans-serif;
text-align: center;
background-color: #B4E4FF;

}

h1{
    font-size: 1.5rem;
    font-weight: 700;
    width: 18rem;
    margin: 1rem auto;
    
}

h2{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(126, 126, 126);
    padding:0 0 20px 0;
    width: 16rem;
    margin: .75rem auto;
    
    


}

.box{
    background-color: white;
    display: inline-block;
    
    padding: 15px;
    margin-top: 5rem;
   
    border-radius: 20px;
    
    
    

}

img{
    height: 300px;
    width: auto;
    border-radius: 10px;
}
